


{% extends "admin/change_form.html" %}

{% load i18n admin_urls %}

{% block object-tools-items %}
{{ block.super }}
{% for withdraw_request in withdraw_requests %}
    {% if withdraw_request.status is "PENDING" %}
        <li>
            <a href="{% url 'payment:approve-withdrawal' pk=object_id %}" class="historylink">{% trans "تایید" %}</a>
        </li>
        <li>
            <a href="{% url 'payment:reject-withdrawal' pk=object_id %}" class="historylink">{% trans "رد" %}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}