{% extends 'admin/base.html' %}

{% load unfold %}
{% load i18n %}
{% load i18n unfold %}

{% url "admin:index" as dashboard_link %}

{% trans "Button title" as button_title %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}

    {% component "unfold/components/container.html" %}
{% comment %} 
<div class="bg-base-800 rounded-default flex flex-col overflow-hidden text-white lg:flex-row lg:items-center" style="background-color: #5865F2;">
        <span class="bg-white/[.06] p-3 flex flex-row">
            <span class="border-r border-white/40 flex items-center mr-3 pr-3">
                <span class="material-symbols-outlined">
                    forum
                </span>
            </span>

            <h2 class="font-semibold">
                Join the community chat now
                {% for t in test %}
                    <p>{{t}}</p>
                {% endfor%}
            </h2>
        </span>

        <div class="flex flex-row gap-3 grow p-3">
            <p>
                Connect with other users, share feedback, and ask questions in real time.
            </p>

            <a href="https://discord.gg/9sQj9MEbNz" class="flex items-center group font-semibold ml-auto whitespace-nowrap" target="_blank">
                Join Discord

                <span class="material-symbols-outlined ml-2 relative right-0 transition-all text-sm group-hover:-right-1">arrow_forward</span>
            </a>
        </div>
    </div><br> {% endcomment %}
{% comment %} 
    {% component "unfold/components/navigation.html" with items=navigation_items class="w-full lg:w-2/7 xl:w-1/4 bg-base-800 text-white flex p-2 gap-2 overflow-y-auto rounded-lg" %}
    {% endcomponent %} {% endcomment %}
    <br>

        {% component "unfold/components/flex.html" with col="2" %}
        {% endcomponent %}

        <div class="flex flex-col gap-4">

        </div>

        <div class="grid grid-cols-3">
            
                {% trans "Last 7 days" as label %}
                {% component "unfold/components/card.html" with label="7 روز گذشته" %}
                    {% component "unfold/components/text.html" %}
                        تعداد محصولات 
                    {% endcomponent %}

                    {% component "unfold/components/title.html" %}
                        {{instagram_contents}}

                    {% endcomponent %}
                    
                {% endcomponent %}
                                {% component "unfold/components/card.html" with label="7 روز گذشته" %}
                    {% component "unfold/components/text.html" %}
                        تعداد مقالات منتشر شده
                    {% endcomponent %}

                    {% component "unfold/components/title.html" %}
                        {{telegram_contents}}

                    {% endcomponent %}
                    
                {% endcomponent %}
                                {% component "unfold/components/card.html" with label="7 روز گذشته" %}
                    {% component "unfold/components/text.html" %}
                        تعداد اخبار منتشر شده 
                    {% endcomponent %}

                    {% component "unfold/components/title.html" %}
                        {{topcer_contents}}

                    {% endcomponent %}
                    
                {% endcomponent %}
            
        </div>

    <br>
    {% endcomponent %}

    {% comment %} {% component "unfold/components/card.html" with class="lg:w-3" %}

        {% component "unfold/components/chart/cohort.html" with component_class="MyCohortComponent" %}
        {% endcomponent %}
        
    {% endcomponent %} {% endcomment %}
   {% comment %} <br>
    {% component "unfold/components/card.html" with class="lg:w-3" %}



    {% endcomponent %}

    <br>  {% endcomment %}
<div class="flex gap-4">

    {# Left column: Progress Card #}
    <div class="w-2/5">
        {% comment %} {% component "unfold/components/card.html" %}
            {%component "unfold/components/text.html"%}
              نمودار محتوای پلتفرم ها 
            {% endcomponent %}
        {% endcomponent %}   {% endcomment %}
        {% component "unfold/components/card.html" %}

            <canvas id="dashboardPieChart" class="chart" data-type="pie"
            data-value="{&quot;labels&quot;: [&quot;سفارشات رد شده&quot;, &quot;سفارشات درحال پردازش&quot;, &quot;سفارشات تکمیل شده&quot;, &quot;سفارشات درحال ارسال&quot;],
            &quot;datasets&quot;: [{&quot;label&quot;: &quot;تعداد محتوا&quot;, 
            &quot;data&quot;: [{{ rejected_orders }}, {{ proccessed_orders }}, {{ completed_orders }}, {{sending_orders}}],
            &quot;borderColor&quot;: &quot;rgba(99, 101, 241, 0)&quot;, 
            &quot;backgroundColor&quot;: [&quot;rgba(167, 24, 219, 0.61)&quot;, &quot;rgba(139, 92, 246, 0.61)&quot;, &quot;rgba(147, 51, 234, 0.61)&quot;, &quot;rgba(124, 58, 237, 0.61)&quot;], 
            &quot;tension&quot;: 0.4}]}"
            width="898" height="250"
            style="display: block; box-sizing: border-box; height: 200px; width: 718px;">
            </canvas>

        {% endcomponent %}
    </div>

    {# Right column: Tracker on top, Table below #}
    <div class="w-3/5 flex flex-col gap-4">
        
        {# Table Card #}
        {% component "unfold/components/card.html" %}
            {%component "unfold/components/text.html"%}
            جدید ترین محصولات
            {% endcomponent %}
            <br><br>
            {% component "unfold/components/table.html" with table=table_data card_included=1 striped=1 %}{% endcomponent %}
        {% endcomponent %}

    </div>

</div>

{% endblock %}